
@media screen and (max-width:450px) {
    /*For index Page style */
    .filter-options h2 {
        width: 100%;
    }

    .filter-options select {
        width: calc(50% - 20px);
    }

    #restaurants-list {
        padding: 0px;
    }

        #restaurants-list li {
            margin: 5px auto;
            padding: 5px;
            width: calc(100% - 20px);
            border-radius: 5px;
            text-align: center;
        }
    /*For Resturnat page style */
}

@media screen and (min-width:451px) and (max-width:850px) {
    /*For index Page style */
    nav h1 a {
        font-size: 16pt;
    }

    .filter-options {
        display: flex;
        flex-wrap: nowrap;
        height: 50px;
    }

        .filter-options h2 {
            width: 33.3%;
        }

        .filter-options select {
            width: calc(67% - 20px);
        }

    #restaurants-list {
        padding: 30px 15px 60px;
    }

        #restaurants-list li {
            margin: 15px auto;
            padding: 15px 30px 25px;
            width: calc(100% - 60px);
            border-radius: 5px;
            text-align: center;
        }

            #restaurants-list li h1 {
                font-size: 16pt;
                line-height: 1.5;
            }

        #restaurants-list p {
            font-size: 13pt;
        }

        #restaurants-list li a {
            background-color: orange;
            border-bottom: 3px solid #eee;
            color: #fff;
            display: inline-block;
            font-size: 13pt;
            margin: 15px 0 0;
            padding: 12px 60px 14px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }
    /*For Resturnat page style */
}



@media screen and (min-width:851px) {
    /*For index Page style */
    body {
        width: 1000px;
        margin: auto;
    }

    nav h1 a {
        font-size: 18pt;
    }

    .filter-options {
        display: flex;
        flex-wrap: nowrap;
        height: 50px;
    }

        .filter-options h2 {
            width: 20%;
        }

        .filter-options select {
            width: calc(80% - 20px);
        }

    #restaurants-list {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 15px 60px;
    }

        #restaurants-list li {
            margin: 15px auto;
            padding: 15px 30px 25px;
            width: calc(50% - 80px);
            border-radius: 5px;
            text-align: center;
        }

            #restaurants-list li h1 {
                font-size: 18pt;
                line-height: 1.5;
            }

        #restaurants-list p {
            font-size: 15pt;
        }

        #restaurants-list li a {
            background-color: orange;
            border-bottom: 3px solid #eee;
            color: #fff;
            display: inline-block;
            font-size: 15pt;
            margin: 15px 0 0;
            padding: 12px 60px 14px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }

    /*For Resturnat page style */
}
