
@media screen and (max-width:450px) {
    /*For index Page style */
    .filter-options h2 {
        width: 100%;
    }

    .filter-options select {
        width: calc(50% - 20px);
    }

    #restaurants-list {
        padding: 0px;
    }

        #restaurants-list li {
            margin: 5px auto;
            padding: 5px;
            width: calc(100% - 20px);
            border-radius: 5px;
            text-align: center;
        }
    /*For Resturnat page style */

    #breadcrumb {
        width: 100%;
    }


    #restaurant-name {
        width: 100%;
    }

    #breadcrumb li a {
        font-size: 18px;
    }


    #map-container {
        display: none;
    }

    #restaurant-container {
        padding: 70px 10px 30px;
        width: calc(100% - 20px);
    }

    #restaurant-img {
        width: 100%;
    }

    #restaurant-cuisine {
        width: 100%;
    }

    .inside #footer {
        width: calc(100% - 50px);
    }

   #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    /* padding: 140px 40px 30px; */
    width: calc(100% - 80px);
}
}

@media screen and (min-width:451px) and (max-width:850px) {
    /*For index Page style */
    nav h1 a {
        font-size: 16pt;
    }

    .filter-options {
        display: flex;
        flex-wrap: nowrap;
        height: 50px;
    }

        .filter-options h2 {
            width: 33.3%;
        }

        .filter-options select {
            width: calc(67% - 20px);
        }

    #restaurants-list {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 15px 60px;
    }

        #restaurants-list li {
            margin: 10px;
            padding: 15px 30px 25px;
            width: calc(50% - 85px);
            border-radius: 5px;
            text-align: center;
        }

            #restaurants-list li h1 {
                min-height: 50px;
                font-size: 14pt;
                line-height: 1.3;
            }

        #restaurants-list p {
            font-size: 12pt;
        }

        #restaurants-list li a {
            background-color: orange;
            border-bottom: 3px solid #eee;
            color: #fff;
            display: inline-block;
            font-size: 12pt;
            margin: 15px 0 0;
            padding: 12px 40px 14px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }

        #restaurants-list .restaurant-img {
            min-height: 200px;
        }
    /*For Resturnat page style */

     .inside #footer {
        width: calc(100% - 50px);
    }
}



@media screen and (min-width:851px) {
    /*For index Page style */
    body {
        width: 1000px;
        margin: auto;
    }

    nav h1 a {
        font-size: 18pt;
    }

    .filter-options {
        display: flex;
        flex-wrap: nowrap;
        height: 50px;
    }

        .filter-options h2 {
            width: 20%;
        }

        .filter-options select {
            width: calc(80% - 20px);
        }

    #restaurants-list {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 15px 60px;
    }

        #restaurants-list li {
            margin: 10px;
            padding: 15px 30px 25px;
            width: calc(33.3% - 85px);
            border-radius: 5px;
            text-align: center;
        }

            #restaurants-list li h1 {
                min-height: 50px;
                font-size: 14pt;
                line-height: 1.2;
            }

        #restaurants-list p {
            font-size: 12pt;
        }

        #restaurants-list li a {
            background-color: orange;
            border-bottom: 3px solid #eee;
            color: #fff;
            display: inline-block;
            font-size: 12pt;
            margin: 15px 0 0;
            padding: 12px 60px 14px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }

        #restaurants-list .restaurant-img {
            min-height: 200px;
        }

    /*For Resturnat page style */


     .inside #footer {
        width: calc(100% - 50px);
    }
}
